@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
    --dark-blue: hsl(209, 23%, 22%);
    --very-dark-blue-bg: hsl(207, 26%, 17%);
    --very-dark-blue-tx: hsl(200, 15%, 8%);
    --light-gray: hsl(0, 0%, 52%);
    --dark-gray: hsl(200, 15%, 8%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --dark-shadow: rgba(0, 0, 0, 0.4);

    --box-shadow: 2px 2px 10px -2px var(--dark-shadow);
    --border-radius: 0.5rem;
    --transition: all 0.3s linear;
    --full-width: 1170px;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--white);
    background-color: var(--very-dark-blue-bg);
    letter-spacing: 1px;
    transition: background-color 0.25s linear, color 0.25s linear;
}

/*== Light Mode*/
body.light-mode {
    --dark-blue: hsl(0, 0%, 100%);
    --very-dark-blue-bg: hsl(0, 0%, 98%);
    --very-dark-blue-tx: hsl(0, 0%, 100%);
    --dark-gray: hsl(0, 0%, 52%);
    --very-light-gray: hsl(207, 26%, 17%);
    --white: hsl(200, 15%, 8%);
    --dark-shadow: rgba(0, 0, 0, 0.15);
}

img {
    display: block;
    width: 100%;
}

.main {
    width: 90vw;
    max-width: var(--full-width);
    margin: 0 auto;
    margin-top: 8rem;
}

/*=============*/
/*= Navbar
/*=============*/
.nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--dark-blue);
    box-shadow: var(--box-shadow);
    z-index: 10;
}

.nav-wrapper {
    width: 90vw;
    max-width: var(--full-width);
    margin: 0 auto;
    height: 8rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-heading {
    font-size: 1.4rem;
    font-weight: 800;
}

.btn {
    color: var(--white);
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: var(--transition);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1.5rem;
}

.btn-text {
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: capitalize;
}

.btn:hover {
    color: var(--light-gray);
}

@media screen and (min-width: 750px) {
    .nav-heading {
        font-size: 1.8rem;
    }

    .btn {
        font-size: 2.5rem;
    }

    .btn-text {
        font-size: 1.8rem;
    }
}

/*=============*/
/*= Form
/*=============*/
.form-wrapper {
    padding-top: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 4rem 0;
}

.form-row {
    height: 5rem;
    max-width: 500px;
    background-color: var(--dark-blue);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: outline-color 0.15s linear;

    display: flex;
    align-items: center;
}

.form-icon {
    padding: 0 3rem;
    font-size: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form-input {
    background-color: transparent;
    border: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: 600;
    color: var(--white);
    width: 100%;
    height: 100%;
    outline: none;
}

.light-mode .form-input {
    color: var(--dark-gray);
}

.form-row:focus-within {
    outline: 2px solid var(--white);
}

.form-input::placeholder {
    color: var(--white);
}

.light-mode .form-input::placeholder {
    color: var(--dark-gray);
}

.dropdown {
    width: 20rem;
    position: relative;
    user-select: none;
}

.dropdown-btn {
    height: 5rem;
    background-color: var(--dark-blue);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: 0 1.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-btn:focus {
    outline: 2px solid var(--white);
}

.custom-arrow {
    font-size: 2.25rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-content {
    position: absolute;
    left: 0;
    top: 6rem;
    width: 100%;
    padding: 0 1.5rem;
    background-color: var(--dark-blue);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--transition);
    z-index: 5;
}

.dropdown-item {
    padding: 1rem 0;
    font-weight: 600;
}

.dropdown-item:hover {
    font-weight: 800;
}

@media screen and (min-width: 750px) {
    .form-wrapper {
        padding-top: 5rem;
    }

    .form {
        flex-direction: row;
        justify-content: space-between;
        gap: unset;
    }

    .form-input {
        width: 350px;
    }
}

/*=============*/
/*= Spinner
/*=============*/
.spinner {
    padding: 10rem 0;

    display: flex;
    justify-content: center;
}

.spinner div {
    width: 10rem;
    height: 10rem;
    border: 5px solid var(--white);
    border-top-color: var(--dark-gray);
    border-right-color: var(--dark-gray);
    border-radius: 50%;
    animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

/*=============*/
/*= Country Card
/*=============*/
.cards-container {
    padding: 5rem 0;


    display: grid;
    justify-items: center;
    gap: 5rem;
}

.card {
    width: 70vw;
    max-width: 240px;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--dark-blue);
    box-shadow: var(--box-shadow);
}

.card-content {
    padding: 3rem 2rem;
    border-top: 1px solid var(--dark-blue);
}

.light-mode .card-content {
    border-top: 1px solid var(--light-gray);
}

.card-heading {
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

.card-info {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2;
}

.card-info span {
    font-size: 1.4rem;
    font-weight: 300;
}

@media screen and (min-width: 600px) {
    .cards-container {
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
    }

    .card-heading {
        font-size: 1.8rem;
    }

    .card-info {
        font-size: 1.6rem;
    }

    .card-info span {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 900px) {
    .cards-container {
        grid-template-columns: repeat(3, auto);
    }
}

@media screen and (min-width: 1200px) {
    .cards-container {
        grid-template-columns: repeat(4, auto);
    }
}








